body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  font-family: 'Inter', sans-serif;
  display: flex;
  background-color: #F55A5A;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.navbar--globe {
  margin-right: 7px;
}

.cards-list {
  justify-content: center;
  align-items: center;
}

.card {
  margin: 50px auto 20px;
  padding-bottom: 18px;
  max-width: 471px;
  display: flex;
  justify-content: center;
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  border-color: #F5F5F5;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  margin-left: 40px;
}

.card--info {
  margin-left: 20px;
  margin-right: 40px;
  text-align: left;
  font-size: 10px;
  
}

.card--description {
  line-height: 16px;
  font-size: 10px;
  margin-top: -10px;
}

.card--location {
  display: flex;
  justify-content: left;
  position: relative;
}

.card--country {
  margin-right: 12px;
}

.card--gm {
  color: #918E9B;
  font-size: 10px;
}

.card--location > img {
  margin-right: 4px;
}

.card--name {
  margin-top: 4px;
  font-weight: 700;
  font-size: 25px;
}

.card--date {
  margin-top: -7px;
}